
.banner {
  background-image: url(https://images.unsplash.com/photo-1573511872017-f8ebdc99d048?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: white;
}

.banner p {
  color: white;
  opacity: .7;
  font-size: 20px;
}

.btn-primary {
  display: inline-block;
  background-color: #1e51dd;
  padding: 16px 36px;
  border-radius: 50px;
  color: white;
}

.btn-secondary {
  border: 1px solid #1EDD88;
  padding: 8px 16px;
  border-radius: 50px;
  color: #1EDD88;
}
